@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.container {
  background-color: #dbeafe;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 667px;
  width: 375px;
  margin: auto;
  gap: 1rem;
  padding: 1.5rem;
}

.gambar {
  height: 100px;
  margin: 2rem 0;
  min-width: 100px;
  object-fit: cover;
  position: relative;
}

.form-group {
  margin-bottom: 15px;
}

.pass-link {
  font-size: 12px;
}

.h1 {
  width: 105%;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-family: "Inter", sans-serif;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-family: "Inter", sans-serif;
}

input[type="select"] {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-family: "Inter", sans-serif;
}

input[type="number"] {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-family: "Inter", sans-serif;
}

select[type="text"] {
  width: 105%;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-family: "Inter", sans-serif;
}

input[type="submit"] {
  width: 80%;
  padding: 15px;
  margin: 10px;
  background-color: #3b82f6;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #0099ff;
}
