@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  background-color: #dbeafe;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 300px;
  margin-left: 500px;
  margin-right: 100px;
  margin-top: 200px;
  padding: 20px;
  background-color: #dbeafe;
  border: 1px solid #dbeafe;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
}

.form-group {
  margin-bottom: 15px;
}

.pass-link {
  font-size: 12px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-family: 'Inter', sans-serif;
}

input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin: 10px;
  background-color: #3b82f6;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #0099FF;
}
